.header {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.logo {
  width: 25%;
  border: 1px solid;
  height: 100%;
  margin-right: 10px;
  float: left;
}

.banner {
  width: calc(75% - 14px);
  border: 1px solid;
  height: 100px;
  float: left;
}

.nav {
  width: 100%;
  height: 50px;
  border: 1px solid;
  margin-bottom: 10px;
}
.nav-left {
  width: 70%;
  height: 100%;
  float: left;
}
.button {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.button-item {
  float: left;
  padding: 0 10px;
  font-size: 22px;
  color: blue;
  border-right: 2px solid black;
}

.nav-right {
  width: calc(100% - 70%);
  height: 100%;
  float: right;
}
.search {
  width: 80%;
  height: 80%;
  border: 1px solid;
  border-radius: 20px;
  margin-top: 2px;
  overflow: hidden;
}
.search input {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.footer {
  width: 100%;
  height: 50px;
  border: 1px solid;
  margin-bottom: 10px;
}

.main {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  overflow: auto;
}
.siderbar {
  width: 15%;
  float: left;
}
.siderbar-top {
  width: 100%;
  height: 300px;
  border: 1px solid;
}
.siderbar-beetwen {
  width: 100%;
  height: 300px;
  border: 1px solid;
  margin-top: 10px;
}

.main-body {
  width: calc(60% - 10px);
  height: 600px;
  float: left;
  margin-left: 5px;
  /* border: 1px solid; */
}
.top {
  width: 100%;
  height: 200px;
}
.hot-news,
.photo-side {
  width: calc(50% - 12px);
  height: 100%;
  margin: 0 5px;
  border: 1px solid;
  float: left;
}
.beetwen {
  width: 100%;
  height: calc(100% - 210px);
  margin-top: 10px;
}
.item {
  width: calc(100% / 3 - 12px);
  height: 150px;
  border: 1px solid;
  margin: 5px 5px;
  float: left;
}

.right {
  width: calc(25% - 10px);
  height: 600px;
  border: 1px solid;
  margin-left: 5px;
  float: left;
}

@media only screen and (max-width: 1000px) {
  .siderbar {
    display: none;
  }
  .right {
    width: 30%;
  }
  .main-body {
    width: calc(100% - 30% - 26px);
  }
  .item {
    width: calc(100% / 2 - 12px);
    height: 150px;
    border: 1px solid;
    margin: 5px 5px;
    float: left;
  }
}

@media only screen and (max-width: 700px) {
  .right {
    display: none;
  }
  .main-body {
    width: calc(100% - 26px);
  }
  .item {
    width: calc(100% - 12px);
    height: 150px;
    border: 1px solid;
    margin: 5px 5px;
    float: left;
  }
}
