.box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.item {
  width: 450px;
  height: 350px;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 450px;
    height: 450px;
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 700px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 450px;
    height: 450px;
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
